<div class="calendar-header">
	<img src="/images/calendar-header.png"/>
	<div class="calendar-header-buttonGroup">
		<button class="slds-button slds-button--neutral">New Event</button>
		<button class="slds-button slds-button--neutral" ng-click="toggleScheduler()">
			<span ng-if="!showScheduler">Open Scheduler</span>
			<span ng-if="showScheduler">Close Scheduler</span>
		</button>
	</div>
</div>
<!-- Calendar body controlled by frame -->
<!-- TODO: consider making the sidebar real  -->
<div class="calendar-body">
	<div ng-if="mainCalendar" class="image-container">
		<div class="calendar-image">
			<img src="/images/calendar-stepOne.png"/>
		</div>
		<div class="sidebar-image">
			<img src="/images/side-barOne.png"/>
		</div>
	</div>

	<div ng-if="sentInvitesCalendar" class="image-container">
		<div class="calendar-image">
			<a class="calendar-header-SecretLink" ui-sref="mobile">
				<img src="/images/calendar-stepOne.png" />
			</a>
		</div>
		<div class="sidebar-image">
			<img src="/images/side-barTwo.png"/>
		</div>
	</div>

	<div ng-if="successCalendar" class="image-container">
		<div class="calendar-image">
			<img src="/images/calendar-stepTwo.png" />
		</div>
		<div class="sidebar-image">
			<img src="/images/side-barThree.png"/>
		</div>
	</div>
</div>