<div class="segmentComponent">
	<div class="segmentComponent-container">
		<div class="segmentComponent-item--walletShare">
			<img src="/images/purple-wave.png" />
			<img src="/images/small-dropdown.png" class="dropdown"/>
			<div>
				<p class="segmentComponent-item-title">Wallet Share</p>
				<p class="segmentComponent-item-caption">>33% wallet share</p>
			</div>
		</div>
		<div class="segmentComponent-item--household">
			<img src="/images/green-wave.png" />
			<img src="/images/small-dropdown.png" class="dropdown"/>
			<div>
				<p class="segmentComponent-item-title">Household Penetration</p>
				<p class="segmentComponent-item-caption">>40% penetration</p>
			</div>
		</div>
		<div class="segmentComponent-item--best" ng-if="newSegment" ng-class="newSegment ? 'newSegmentShow' : 'newSegmentHide'">
			<img src="/images/orange-wave.png" />
			<img src="/images/small-dropdown.png" class="dropdown"/>
			<div>
				<p class="segmentComponent-item-title">Best Interest</p>
				<p class="segmentComponent-item-caption">>30% interest</p>
			</div>
		</div>
		<div class="segmentComponent-item-wrapper">
			<div class="segmentComponent-item--add" ng-click="toggleDropdown()">
				<p class="segmentComponent-item-title"><span>Add Segment</span></p>
			</div>
			<div ng-include="'views/partials/segmentDropdown.html'" class="segmentComponent-dropdown" ng-if="showDropdown"></div>
		</div>
	</div>

	<div class="clientScheduler-buttonGroup">
		<button class="slds-button slds-button--brand" ng-click="toggleSchedulerComplete()">Connect with Clients</button>
		<button class="slds-button slds-button--neutral" ng-click="toggleClientList()">
			<span ng-if="!showClientList">Show List</span>
			<span ng-if="showClientList">Hide List</span>
		</button>
	</div>
</div>