<div class="slds-dropdown-trigger slds-dropdown-trigger--click slds-is-open">
	<!--Checkbox-->
	<div class="dropdown-body">
		<div class="slds-form-element">
			<div class="slds-form-element__control">
				<span class="slds-checkbox">
					<input type="checkbox" name="options" id="checkbox-1021" />
					<label class="slds-checkbox__label" for="checkbox-1021">
						<span class="slds-checkbox--faux"></span>
						<span class="slds-form-element__label">Increase interaction with trending clients</span>
					</label>
				</span>
			</div>
		</div>
		<!--Checkbox-->
		<div class="slds-form-element">
			<div class="slds-form-element__control">
				<span class="slds-checkbox">
					<input type="checkbox" name="options" id="checkbox-1022" />
					<label class="slds-checkbox__label" for="checkbox-1022">
						<span class="slds-checkbox--faux"></span>
						<span class="slds-form-element__label">Increase interaction with potential high earning clients</span>
					</label>
				</span>
			</div>
		</div>
		<!--Checkbox-->
		<div class="slds-form-element">
			<div class="slds-form-element__control">
				<span class="slds-checkbox">
					<input type="checkbox" name="options" id="checkbox-1023" />
					<label class="slds-checkbox__label" for="checkbox-1023">
						<span class="slds-checkbox--faux"></span>
						<span class="slds-form-element__label">Increase interaction with stagnant clients</span>
					</label>
				</span>
			</div>
		</div>
		<!--Checkbox-->
		<div class="slds-form-element">
			<div class="slds-form-element__control">
				<span class="slds-checkbox">
					<input type="checkbox" name="options" id="checkbox-1020" />
					<label class="slds-checkbox__label" for="checkbox-1020">
						<span class="slds-checkbox--faux"></span>
						<span class="slds-form-element__label">Best interest clients</span>
					</label>
				</span>
			</div>
		</div>
		<!--Checkbox-->
		<div class="slds-form-element">
			<div class="slds-form-element__control">
				<span class="slds-checkbox">
					<input type="checkbox" name="options" id="checkbox-1024" />
					<label class="slds-checkbox__label" for="checkbox-1024">
						<span class="slds-checkbox--faux"></span>
						<span class="slds-form-element__label">Close high potential open leads</span>
					</label>
				</span>
			</div>
		</div>
		<!--Checkbox-->
		<div class="slds-form-element">
			<div class="slds-form-element__control">
				<span class="slds-checkbox">
					<input type="checkbox" name="options" id="checkbox-1025" checked=""/>
					<label class="slds-checkbox__label" for="checkbox-1025">
						<span class="slds-checkbox--faux"></span>
						<span class="slds-form-element__label">Increase wallet share</span>
					</label>
				</span>
			</div>
		</div>
		<!--Checkbox-->
		<div class="slds-form-element">
			<div class="slds-form-element__control">
				<span class="slds-checkbox">
					<input type="checkbox" name="options" id="checkbox-1026" checked=""/>
					<label class="slds-checkbox__label" for="checkbox-1026">
						<span class="slds-checkbox--faux"></span>
						<span class="slds-form-element__label">Increase household penetration</span>
					</label>
				</span>
			</div>
		</div>
	</div>
	<div class="dropdown-footer">
		<button class="slds-button slds-button--brand" ng-click="updateSegment()">Update</button>
		<button class="slds-button slds-button--neutral" ng-click="toggleDropdown()">Close</button>
	</div>
</div>