<div class="slds-notify_container">
	<div class="slds-notify slds-notify--toast slds-theme--success" role="alert">
		<span class="slds-assistive-text">Success</span>
		<button class="slds-button slds-notify__close slds-button--icon-inverse" ng-click="closeNotification()">
			<svg aria-hidden="true" class="slds-button__icon slds-button__icon--large">
				<use xlink:href="/images/icons/utility-sprite/svg/symbols.svg#close"></use>
			</svg>
			<span class="slds-assistive-text">Close</span>
		</button>
		<div class="slds-notify__content slds-grid">
			<svg aria-hidden="true" class="slds-icon slds-icon--small slds-m-right--small slds-col slds-no-flex">
				<use xlink:href="/images/icons/utility-sprite/svg/symbols.svg#notification"></use>
			</svg>
			<div class="slds-col slds-align-middle">
				<h2 class="slds-text-heading--small ">Successfully sent invites to <a href="javascript:void(0);">{{clients.length}} clients</a>.</h2>
			</div>
		</div>
	</div>
</div>