////////////////////////////
///////Calendar Header/////
//////////////////////////
.calendar-header
	padding: 16px 32px
	display: flex
	justify-content: space-between

	&-buttonGroup
		align-self: center

.calendar-body
	img
		width: 100%