///////////////////////////
///////General Styles/////
/////////////////////////
.main-frame
	min-width: 1080px

////////////////////////////////
///////Notification Styles/////
//////////////////////////////
.slds-notify_container
	margin-top: 100px
	h2
		margin-bottom: 0

.notificationComponent
	transition: $standard-animate

.successShow
	opacity: 1

.successHide
	opacity: 0

//SLDS Overwrite Hack - meh
.slds-form-element.bumperBottom
	margin-bottom: 30px !important