////////////////////////////////////
///////Client Scheduler Styles/////
//////////////////////////////////
%segmentComponent-item
	width: 230px
	background-color: white
	padding: 10px
	color: $text-color
	margin-right: 12px
	+border-radius(4px)

	p:not(:last-child)
		margin-bottom: 5px

	.segmentComponent-item-title
		font-size: 14px

	.segmentComponent-item-caption
		font-size: 12px
		color: $blue-gray

.clientScheduler
	background-color: $background-color
	padding: 32px

	&-paragraph
		margin-bottom: 12px
		font-size: 14px

/////////////////////////////////////
///////Segment Component Styles/////
///////////////////////////////////
.segmentComponent
	display: flex
	justify-content: space-between
	margin-bottom: 24px

.segmentComponent-container
	display: flex

.segmentComponent-item--walletShare
	@extend %segmentComponent-item
	+createBorder($purple, solid)

.segmentComponent-item--household
	@extend %segmentComponent-item
	+createBorder($teal, solid)

.segmentComponent-item--add
	@extend %segmentComponent-item
	+createBorder($blue-gray, dashed)
	display: flex
	align-items: center
	justify-content: center
	&:hover
		background-color: rgba(255, 255, 255, 0.7)

	.segmentComponent-item-title
		text-align: center
		color: $blue-gray

.clientScheduler-buttonGroup
	align-self: center
	div:not(:last-child)
		margin-right: 12px

//////////////////////////////////
///////List Component Styles/////
////////////////////////////////
.clientListComponent
	transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s
	overflow: hidden
//Slider Animation
.clientListComponentHide
	height: 0
.clientListComponentShow
	height: 350px

.clientListComponent-buttonGroup
	float: right
	margin-bottom: 12px

.clientListComponent-listContainer
	display: flex
	width: 100%
	.clientListComponent-listTable
		width: 65%
		box-sizing: border-box
	table
		font-size: 13px
		border-left: $standard-border

%clientListComponent-slider
	box-sizing: border-box
	width: 35%
	background-color: white
	border: $standard-border
	height: 303px
	overflow: scroll
	.slider-header
		padding: 9px 16px
		border-bottom: $standard-border
		font-size: 14px
		color: $blue-gray
	.slider-body
		padding: 16px

.clientListComponent-slider--filter
	@extend %clientListComponent-slider
	.slider-body
		display: flex
		.slider-title
			font-size: 14px
			margin-bottom: 4px
		.slds-form-element
			padding-left: 16px
			margin-bottom: 4px
			cursor: pointer
		.bottomSpace
			margin-bottom: 16px
	.slider-footer
		padding: 8px 16px
		border-top: $standard-border
		background-color: $light-blue-gray

.clientListComponent-slider--wave
	@extend %clientListComponent-slider