<div class="calendar-header">
	<a class="calendar-header-SecretLink" ui-sref="mobile">
		<img src="/images/calendar-header.png"/>
	</a>
	<div class="calendar-header-buttonGroup">
		<button class="slds-button slds-button--neutral">New Event</button>
		<button class="slds-button slds-button--neutral" ng-click="toggleScheduler()">
			<span ng-if="!showScheduler">Open Scheduler</span>
			<span ng-if="showScheduler">Close Scheduler</span>
		</button>
	</div>
</div>
<div class="calendar-body">
	<div ng-if="mainCalendar">
		<img src="/images/calendar-stepOne.png" />
	</div>
</div>