<div class="clientScheduler">
	<h4>Client Scheduler</h4>
	<p class="clientScheduler-paragraph">We've found 16 clients to schedule upcoming events with</p>
	<div ng-include="'views/partials/segmentComponent.html'"></div>

	<div class="clientListComponent" ng-class="showClientList ? 'clientListComponentShow' : 'clientListComponentHide'">
			<div class="clientListComponent-buttonGroup">
				<div class="slds-button-group" role="group">
					<button class="slds-button slds-button--icon-border">
						<svg aria-hidden="true" class="slds-button__icon">
							<use xlink:href="/images/icons/utility-sprite/svg/symbols.svg#chart"></use>
						</svg>
						<span class="slds-assistive-text">Charts</span>
					</button>
					<button class="slds-button slds-button--icon-border">
						<svg aria-hidden="true" class="slds-button__icon">
							<use xlink:href="/images/icons/utility-sprite/svg/symbols.svg#filterList"></use>
						</svg>
						<span class="slds-assistive-text">Filter List</span>
					</button>
					<button class="slds-button slds-button--icon-more" aria-haspopup="true">
						<svg aria-hidden="true" class="slds-button__icon">
							<use xlink:href="/images/icons/utility-sprite/svg/symbols.svg#settings"></use>
						</svg>
						<svg aria-hidden="true" class="slds-button__icon slds-button__icon--x-small">
							<use xlink:href="/images/icons/utility-sprite/svg/symbols.svg#down"></use>
						</svg>
						<span class="slds-assistive-text">Settings</span>
					</button>
				</div>
			</div>

			<div class="clientListComponent-listContainer">
				<div class="clientListComponent-listTable" ng-include="'views/partials/clientTableComponent.html'"></div>
				<!-- <div class="clientListComponent-slider--filter" ng-include="'views/partials/clientFilter.html'"></div> -->

				<div class="clientListComponent-slider--wave" ng-include="'views/partials/clientWave.html'"></div>
			</div>

	</div>
</div>
