<div class="slider-header">
	<p>Get more precision by filtering your client list</p>
</div>

<div class="slider-body">
	<!--Start Column One -->
	<div class="slider-columnOne">
		<p class="slider-title">Client Tiers</p>
		<!--Checkbox-->
		<div class="slds-form-element">
			<div class="slds-form-element__control">
				<span class="slds-checkbox">
					<input type="checkbox" name="options" id="checkbox-1027" ng-model="checkboxModel.platinum"/>
					<label class="slds-checkbox__label" for="checkbox-1027">
						<span class="slds-checkbox--faux"></span>
						<span class="slds-form-element__label">Platinum</span>
					</label>
				</span>
			</div>
		</div>
		<!--Checkbox-->
		<div class="slds-form-element">
			<div class="slds-form-element__control">
				<span class="slds-checkbox">
					<input type="checkbox" name="options" id="checkbox-1028" ng-model="checkboxModel.gold"/>
					<label class="slds-checkbox__label" for="checkbox-1028">
						<span class="slds-checkbox--faux"></span>
						<span class="slds-form-element__label">Gold</span>
					</label>
				</span>
			</div>
		</div>
		<!--Checkbox-->
		<div class="slds-form-element">
			<div class="slds-form-element__control">
				<span class="slds-checkbox">
					<input type="checkbox" name="options" id="checkbox-1029" />
					<label class="slds-checkbox__label" for="checkbox-1029">
						<span class="slds-checkbox--faux"></span>
						<span class="slds-form-element__label">Silver</span>
					</label>
				</span>
			</div>
		</div>
		<!--Checkbox-->
		<div class="slds-form-element bottomSpace">
			<div class="slds-form-element__control">
				<span class="slds-checkbox">
					<input type="checkbox" name="options" id="checkbox-1030" />
					<label class="slds-checkbox__label" for="checkbox-1030">
						<span class="slds-checkbox--faux"></span>
						<span class="slds-form-element__label">Bronze</span>
					</label>
				</span>
			</div>
		</div>

		<p class="slider-title">Risk Tolerance</p>
		<!--Checkbox-->
		<div class="slds-form-element">
			<div class="slds-form-element__control">
				<span class="slds-checkbox">
					<input type="checkbox" name="options" id="checkbox-1031" />
					<label class="slds-checkbox__label" for="checkbox-1031">
						<span class="slds-checkbox--faux"></span>
						<span class="slds-form-element__label">Aggressive</span>
					</label>
				</span>
			</div>
		</div>
		<!--Checkbox-->
		<div class="slds-form-element">
			<div class="slds-form-element__control">
				<span class="slds-checkbox">
					<input type="checkbox" name="options" id="checkbox-1032" />
					<label class="slds-checkbox__label" for="checkbox-1032">
						<span class="slds-checkbox--faux"></span>
						<span class="slds-form-element__label">Moderate</span>
					</label>
				</span>
			</div>
		</div>
		<!--Checkbox-->
		<div class="slds-form-element bumperBottom">
			<div class="slds-form-element__control">
				<span class="slds-checkbox">
					<input type="checkbox" name="options" id="checkbox-1033" />
					<label class="slds-checkbox__label" for="checkbox-1033">
						<span class="slds-checkbox--faux"></span>
						<span class="slds-form-element__label">Conservative</span>
					</label>
				</span>
			</div>
		</div>
	</div>

	<!--Start Column Two -->
	<div class="slider-columnTwo">
		<p class="slider-title">Marketing Segment</p>
		<!--Checkbox-->
		<div class="slds-form-element">
			<div class="slds-form-element__control">
				<span class="slds-checkbox">
					<input type="checkbox" name="options" id="checkbox-1035" />
					<label class="slds-checkbox__label" for="checkbox-1035">
						<span class="slds-checkbox--faux"></span>
						<span class="slds-form-element__label">Female Investor</span>
					</label>
				</span>
			</div>
		</div>
		<!--Checkbox-->
		<div class="slds-form-element">
			<div class="slds-form-element__control">
				<span class="slds-checkbox">
					<input type="checkbox" name="options" id="checkbox-1036" />
					<label class="slds-checkbox__label" for="checkbox-1036">
						<span class="slds-checkbox--faux"></span>
						<span class="slds-form-element__label">High Net Worth</span>
					</label>
				</span>
			</div>
		</div>
		<!--Checkbox-->
		<div class="slds-form-element">
			<div class="slds-form-element__control">
				<span class="slds-checkbox">
					<input type="checkbox" name="options" id="checkbox-1037" />
					<label class="slds-checkbox__label" for="checkbox-1037">
						<span class="slds-checkbox--faux"></span>
						<span class="slds-form-element__label">Mass Affluent</span>
					</label>
				</span>
			</div>
		</div>
		<!--Checkbox-->
		<div class="slds-form-element">
			<div class="slds-form-element__control">
				<span class="slds-checkbox">
					<input type="checkbox" name="options" id="checkbox-1038" />
					<label class="slds-checkbox__label" for="checkbox-1038">
						<span class="slds-checkbox--faux"></span>
						<span class="slds-form-element__label">Millennial</span>
					</label>
				</span>
			</div>
		</div>
	</div>
</div>

<div class="slider-footer">
	<button class="slds-button slds-button--brand" ng-click="updateClient()">Update</button>
</div>
