<div class="segmentComponent">
	<div class="segmentComponent-container">
		<div class="segmentComponent-item--walletShare">
			<p class="segmentComponent-item-title">Wallet Share</p>
			<p class="segmentComponent-item-caption">>20% wallet share</p>
		</div>
		<div class="segmentComponent-item--household">
			<p class="segmentComponent-item-title">Household Penetration</p>
			<p class="segmentComponent-item-caption">>40% penetration</p>
		</div>
		<div class="segmentComponent-item--add">
			<p class="segmentComponent-item-title">Add Segment</p>
		</div>
	</div>

	<div class="clientScheduler-buttonGroup">
		<button class="slds-button slds-button--brand">Connect with Clients</button>
		<button class="slds-button slds-button--neutral" ng-click="toogleClientList()">
			<span ng-if="!showClientList">Show List</span>
			<span ng-if="showClientList">Hide List</span>
		</button>
	</div>
</div>